*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --theme-primary-color: #EDF0F0;
    --theme-secondary-color: #ffffff;
    --theme-contrast-color: #000000;
    --theme-substitue-color: #c3c6d1;
    --hero-font: 'quicksand';
    --content-font: 'cantarell';
}

body{
    background-color: var(--theme-primary-color);
}

img
{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#main-header
{
    /* height: 50px; */
    /* height: 80px; */
    height: clamp(40px, 10vh, 80px);
    width: 100vw;
    background-color: var(--theme-secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(30px, 10%,100px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.11);
 
}

.logo
{
    display: flex;
    height: 100%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8rem + 1.4vw + 0.3vh);
    font-family: var(--hero-font), 'Times New Roman', Times, serif, sans-serif;
}
.n-logo
{
   height: calc(3.99rem + 0.9vw + 0.6vh);
   min-height: 1rem;
   max-height: 100px;
   width: auto;
}
/* No avatar element in the page yet */
.avatar
{
    height: calc(1.5rem + 0.6vw + 0.2vh);
    width: calc(1.5rem + 0.6vw + 0.2vh);
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--theme-secondary-color);
}

.corner-profile
{
    /* background-color: rgba(137, 43, 226, 0.267); */
    display: flex;
    list-style-type: none;
    gap: 0.5em;
}

.corner-profile .info-btn
{
    background-color: transparent;
    border: none;
    padding: auto;
}
.corner-profile .info-btn i
{
    font-size: calc(1.3rem + 0.6vw + 0.2vh);
}

.corner-profile li
{
    padding: 0 1vw;
}

/* Main styling */

#container
{
    font-family: var(--content-font), sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 12fr 1fr;
    height: calc(100vh - clamp(40px, 10vh, 80px));
}

/* Nav bar */
#navbar-container
{
    grid-column: 1/5;
    grid-row: 1/1;
}
#list-navigator
{
    height: clamp(20px, 5vh, 60px);
    width: 100%;
    /* background-color: aliceblue; */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.11);
    margin-top: 2px
}

#burger-icon
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    min-width: 2rem;
    max-width: 100px;
    /* background-color: black; */
}

#burger-icon .line
{
    background-color: var(--theme-contrast-color);
    width: 80%;
    height: 3px;   
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 2px 0;
}
#burger-icon .line1
{
    width: 80%;
}#burger-icon .line2
{
    width: 60%;
}#burger-icon .line3
{
    width: 40%;
}


#list-navigator ul
{
    list-style-type: none;
    display: flex;
    gap: max(3px, 0.3vw);
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

#list-navigator ul li>button
{
    background-color: transparent;
    border: none;
    font-size: calc(0.5rem + 0.6vw + 0.2vh);
    height: 100%;
    width: 100%;

}
#list-navigator ul li
{
    position: relative;
    height: 100%;
    width: max-content;
    max-width: fit-content;
    padding: 0 3%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#list-navigator ul li::after
{
    content: " ";
    height: 60%;
    width: 2px;
    background-color: var(--theme-contrast-color);
    position: absolute;
    top: 20%;

    right: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 0.4;
}
#list-navigator ul li:last-child
{
    opacity: 0.3;
}
#list-navigator ul li:hover
{
    background-color: var(--theme-substitue-color);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

/* aside-section */
#side-column
{
    /* grid-area: side-menu; */
    background-color: yellow;
    grid-column: 1/2;
    grid-row: 2/5;

}

/* list area */

#main-area
{
    /* grid-area: main; */
    background-color: green;
    grid-column: 2/5;
    grid-row: 2/5;
}

/* footer */

#universal-footer
{
    /* grid-area: footer; */
    background-color: aquamarine;
    grid-column: 1/5;
    grid-row: 5/6;
}